body {
    text-align: center;
    background-color: #d2f9f9;
}

button {
    background: #1ab3b3;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border: none;
}

.btn_multiplayer {
    width: 400px;
    height: 80px;
    margin-top: 100px;
    margin-bottom: 10px;
    display: block;
}

.btn_computer {
    width: 400px;
    height: 80px;
    margin-top: 10px;
    display: block;
}

.btn_reiniciar {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

.centro-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Torna o contêiner com altura total da janela */
}

/* Estilo dos quadrados do jogo */
.quadrado {
    text-align: center;
    width: 50px;
    background: #1ab3b3;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador,
.vencedor {
    font-size: 30px;
    margin-top: 10px;
}
